<?xml version="1.0" encoding="utf-8"?>
<robot
name="titanleg" xmlns:xacro="http://ros.org/wiki/xacro">
  <link
  name="world_link"/>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.213364495363574 -0.471640702282736 0.19640549122243"
        rpy="0 0 0" />
      <mass
        value="4.56027988555656" />
      <inertia
        ixx="0.189441924698921"
        ixy="0.00107759199253"
        ixz="-0.00110055721004939"
        iyy="0.241596135146403"
        iyz="-0.00251149046217883"
        izz="0.144666388806691" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="dummy_joint"
    type="fixed">
    <parent
      link="world_link" />
    <child
      link="base_link" />
  </joint>
  <link
    name="c_bracket">
    <inertial>
      <origin
        xyz="-0.0621160426573205 6.66379779257209E-06 -0.0419870468989706"
        rpy="0 0 0" />
      <mass
        value="0.1941398277098" />
      <inertia
        ixx="0.000261155018400833"
        ixy="-1.04515996200884E-08"
        ixz="-3.72184232659521E-08"
        iyy="0.000187909216337469"
        iyz="-1.78676211495791E-09"
        izz="0.000246157573305316" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/c_bracket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/c_bracket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="c_b"
    type="revolute">
    <origin
      xyz="0.25765 -0.61988 0.5435"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="c_bracket" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="abd_acc">
    <inertial>
      <origin
        xyz="0.0137366855479558 0.0589617454017474 0.150563146931354"
        rpy="0 0 0" />
      <mass
        value="0.580805573486017" />
      <inertia
        ixx="0.000492305119037265"
        ixy="-1.66069058598287E-07"
        ixz="-3.49271202080687E-09"
        iyy="0.000492299071608541"
        iyz="3.03086613508584E-09"
        izz="0.000905329045363657" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/abd_acc.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/abd_acc.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_joint"
    type="fixed">
    <origin
      xyz="0.058961 0.013735 0.086158"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="c_bracket" />
    <child
      link="abd_acc" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="knee_acc">
    <inertial>
      <origin
        xyz="0.0137373611839682 0.058960746117987 0.143743758177868"
        rpy="0 0 0" />
      <mass
        value="0.487854303371581" />
      <inertia
        ixx="0.000461942589547207"
        ixy="-1.65351846880484E-07"
        ixz="-3.46706400794511E-09"
        iyy="0.000461936302665996"
        iyz="3.09582952281677E-09"
        izz="0.000789118999469293" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/knee_acc.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/knee_acc.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_joint"
    type="revolute">
    <origin
      xyz="-0.0281 0.015201 0.109"
      rpy="0 0 -0.53405" />
    <parent
      link="abd_acc" />
    <child
      link="knee_acc" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="upperleg1">
    <inertial>
      <origin
        xyz="-0.00100299376130375 -0.136846344638095 0.00598644922577091"
        rpy="0 0 0" />
      <mass
        value="0.365894283988061" />
      <inertia
        ixx="0.00501531006279228"
        ixy="-2.49651872515819E-05"
        ixz="-1.31419189750013E-07"
        iyy="0.000465886615454427"
        iyz="3.6496462278299E-07"
        izz="0.00547244054208457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/upperleg1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/upperleg1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg1"
    type="fixed">
    <origin
      xyz="0.013735 0.058961 0.18616"
      rpy="3.1416 0 2.0944" />
    <parent
      link="knee_acc" />
    <child
      link="upperleg1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upperleg2">
    <inertial>
      <origin
        xyz="-0.00100338820261525 -0.136846318364015 0.00598649213306363"
        rpy="0 0 0" />
      <mass
        value="0.365892540566899" />
      <inertia
        ixx="0.00501530240958118"
        ixy="-2.49676826176121E-05"
        ixz="-1.30825760733807E-07"
        iyy="0.000465884953887905"
        iyz="3.64972401421192E-07"
        izz="0.00547243141152344" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/upperleg2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/upperleg2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_joint2"
    type="fixed">
    <origin
      xyz="0.013735 0.058961 0.21416"
      rpy="0 0 -1.0472" />
    <parent
      link="knee_acc" />
    <child
      link="upperleg2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pulley">
    <inertial>
      <origin
        xyz="-1.65143005070867E-05 -1.63786974211044E-05 0.0140009766604349"
        rpy="0 0 0" />
      <mass
        value="0.15148726652934" />
      <inertia
        ixx="9.46435303972224E-05"
        ixy="-1.12660524011322E-08"
        ixz="-4.31453747154025E-09"
        iyy="9.4575248296758E-05"
        iyz="-7.83189860899337E-10"
        izz="0.000169400649471206" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/pulley.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/pulley.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pulley_joint"
    type="revolute">
    <origin
      xyz="0.013735 0.058961 0.21416"
      rpy="3.1416 0 -1.3981" />
    <parent
      link="knee_acc" />
    <child
      link="pulley" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lowerleg">
    <inertial>
      <origin
        xyz="0.123760462498263 0.156226128581652 0.208535685291376"
        rpy="0 0 0" />
      <mass
        value="0.66280770717818" />
      <inertia
        ixx="0.00532781613035963"
        ixy="-8.11027667350831E-06"
        ixz="3.01446392615178E-07"
        iyy="0.000483475310695695"
        iyz="0.000183638772467272"
        izz="0.00576046743619263" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/lowerleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/lowerleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lowerleg_joint"
    type="revolute">
    <origin
      xyz="0.38429 0.29106 0.22292"
      rpy="-3.1416 0 -1.8781" />
    <parent
      link="pulley" />
    <child
      link="lowerleg" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>