<?xml version="1.0" encoding="utf-8"?>
<robot
  name="titanleg" xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="world_link"/>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.21565 -0.46827 0.268"
        rpy="0 0 0" />
      <mass
        value="3.0381" />
      <inertia
        ixx="0.12285"
        ixy="3.1439E-09"
        ixz="1.6497E-07"
        iyy="0.18411"
        iyz="-0.00015614"
        izz="0.074368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="dummy_joint"
    type="fixed">
    <parent
      link="world_link" />
    <child
      link="base_link" />
  </joint>
  <link
    name="c_bracket">
    <inertial>
      <origin
        xyz="-0.062116 6.6638E-06 -0.041987"
        rpy="0 0 0" />
      <mass
        value="0.19414" />
      <inertia
        ixx="0.00026116"
        ixy="-1.0452E-08"
        ixz="-3.7218E-08"
        iyy="0.00018791"
        iyz="-1.7868E-09"
        izz="0.00024616" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/c_bracket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/c_bracket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="c_b"
    type="revolute">
    <origin
      xyz="0.25765 -0.61988 0.5435"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="c_bracket" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="acc">
    <inertial>
      <origin
        xyz="0.013737 0.058962 0.15056"
        rpy="0 0 0" />
      <mass
        value="0.58081" />
      <inertia
        ixx="0.00049231"
        ixy="-1.6607E-07"
        ixz="-3.4927E-09"
        iyy="0.0004923"
        iyz="3.0309E-09"
        izz="0.00090533" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/acc.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/acc.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="acc_abd_knee"
    type="fixed">
    <origin
      xyz="0.058961 0.013735 0.086158"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="c_bracket" />
    <child
      link="acc" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="acc_knee">
    <inertial>
      <origin
        xyz="0.013737 0.058961 0.14374"
        rpy="0 0 0" />
      <mass
        value="0.48785" />
      <inertia
        ixx="0.00046194"
        ixy="-1.6535E-07"
        ixz="-3.4671E-09"
        iyy="0.00046194"
        iyz="3.0958E-09"
        izz="0.00078912" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/acc_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/acc_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="adb_knee"
    type="fixed">
    <origin
      xyz="-0.0281 0.015201 0.109"
      rpy="0 0 -0.53405" />
    <parent
      link="acc" />
    <child
      link="acc_knee" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upperleg">
    <inertial>
      <origin
        xyz="1.9483E-07 -0.13685 -0.014"
        rpy="0 0 0" />
      <mass
        value="0.73179" />
      <inertia
        ixx="0.010031"
        ixy="2.4954E-09"
        ixz="-2.6224E-07"
        iyy="0.00093177"
        iyz="-7.7788E-12"
        izz="0.010945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/upperleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/upperleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="acc_ul"
    type="fixed">
    <origin
      xyz="0.013735 0.058961 0.18616"
      rpy="3.1416 0 2.0944" />
    <parent
      link="acc_knee" />
    <child
      link="upperleg" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pulley">
    <inertial>
      <origin
        xyz="-1.6514E-05 -1.6379E-05 0.014001"
        rpy="0 0 0" />
      <mass
        value="0.15149" />
      <inertia
        ixx="9.4644E-05"
        ixy="-1.1266E-08"
        ixz="-4.3145E-09"
        iyy="9.4575E-05"
        iyz="-7.8319E-10"
        izz="0.0001694" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/pulley.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/pulley.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="acc_pulley"
    type="fixed">
    <origin
      xyz="0.013735 0.058961 0.21416"
      rpy="3.1416 0 -1.3981" />
    <parent
      link="acc_knee" />
    <child
      link="pulley" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lowerleg">
    <inertial>
      <origin
        xyz="0.12376 0.15623 0.20854"
        rpy="0 0 0" />
      <mass
        value="0.66281" />
      <inertia
        ixx="0.0053278"
        ixy="-8.1103E-06"
        ixz="3.0145E-07"
        iyy="0.00048348"
        iyz="0.00018364"
        izz="0.0057605" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/lowerleg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_box_bot_gazebo/meshes/lowerleg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pulley_lowl"
    type="fixed">
    <origin
      xyz="0.38429 0.29106 0.22292"
      rpy="-3.1416 0 -1.8781" />
    <parent
      link="pulley" />
    <child
      link="lowerleg" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>