<?xml version="1.0" encoding="utf-8"?>
<robot
  name="slider_design_URDF">
  <link
    name="base_link_stand">
    <inertial>
      <origin
        xyz="6.10622663543836E-16 0.000186556359450196 0.177272743445134"
        rpy="0 0 0" />
      <mass
        value="2.59347516998776" />
      <inertia
        ixx="0.122430377729961"
        ixy="-6.64879419839934E-17"
        ixz="-1.79469805425288E-16"
        iyy="0.183325511805914"
        iyz="-0.000156144898123056"
        izz="0.073945978938047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/base_link_stand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/base_link_stand.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hip_act">
    <inertial>
      <origin
        xyz="3.32114702053521E-06 -0.0315283228576752 0.499999356474945"
        rpy="0 0 0" />
      <mass
        value="0.459454763928287" />
      <inertia
        ixx="0.000423368997531344"
        ixy="3.15207899133932E-09"
        ixz="1.66528842531295E-07"
        iyy="0.000785414768163331"
        iyz="3.20271247011331E-09"
        izz="0.000423378070299278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/hip_act.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/hip_act.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="stand_hip"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link_stand" />
    <child
      link="hip_act" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="c_bracket">
    <inertial>
      <origin
        xyz="1.29531010331363E-05 -0.0938839573426781 0.499993336202208"
        rpy="0 0 0" />
      <mass
        value="0.1941398277098" />
      <inertia
        ixx="0.000246157573305319"
        ixy="3.72184232659441E-08"
        ixz="1.78676211476882E-09"
        iyy="0.000261155018400834"
        iyz="-1.04515996147018E-08"
        izz="0.000187909216337472" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/c_bracket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/c_bracket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_a_c_b"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="hip_act" />
    <child
      link="c_bracket" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_act">
    <inertial>
      <origin
        xyz="-0.0105283228433629 -0.155996467737714 0.499999801595569"
        rpy="0 0 0" />
      <mass
        value="0.459454763368948" />
      <inertia
        ixx="0.000785414768124536"
        ixy="-1.20110195093395E-09"
        ixz="-4.18264847211513E-09"
        iyy="0.000423231039952221"
        iyz="8.59167594152018E-08"
        izz="0.000423516027817846" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/knee_act.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/knee_act.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="c_knee"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="c_bracket" />
    <child
      link="knee_act" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="connecter">
    <inertial>
      <origin
        xyz="-0.0627092553303077 -0.155999999999995 0.500000000000004"
        rpy="0 0 0" />
      <mass
        value="0.136163779993279" />
      <inertia
        ixx="0.000121813380866596"
        ixy="-1.11126012869145E-19"
        ixz="1.58157595894236E-20"
        iyy="6.99270541952128E-05"
        iyz="-6.81519276561268E-20"
        izz="6.99270541952126E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/connecter.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/connecter.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knact_con"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="knee_act" />
    <child
      link="connecter" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="slide_act">
    <inertial>
      <origin
        xyz="-0.128528322842186 -0.155997781822786 0.499997296994449"
        rpy="0 0 0" />
      <mass
        value="0.45945476329286" />
      <inertia
        ixx="0.000785414768049983"
        ixy="-3.14528553173294E-09"
        ixz="-3.07860027929629E-09"
        iyy="0.00042337716722205"
        iyz="1.66719355801496E-07"
        izz="0.000423369900477097" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slide_act.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slide_act.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="con_slact"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="connecter" />
    <child
      link="slide_act" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="slider_1">
    <inertial>
      <origin
        xyz="-0.165994134887291 -0.168670165667458 0.506409800876571"
        rpy="0 0 0" />
      <mass
        value="0.0227075461559264" />
      <inertia
        ixx="2.96121867175513E-05"
        ixy="-1.68744202738817E-09"
        ixz="8.53672135801245E-10"
        iyy="9.4534331925605E-06"
        iyz="6.03941429902899E-06"
        izz="2.02192166309363E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slider_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slider_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="act_sl1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slide_act" />
    <child
      link="slider_1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="slider_2">
    <inertial>
      <origin
        xyz="-0.165987300392327 -0.236011570879544 0.50693946183179"
        rpy="0 0 0" />
      <mass
        value="0.0349242700670582" />
      <inertia
        ixx="1.85733821282022E-05"
        ixy="-1.80568328873661E-11"
        ixz="-2.30085352135554E-09"
        iyy="1.50315418382489E-05"
        iyz="1.62362253121418E-08"
        izz="5.08895980356463E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slider_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slider_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sl1_sl2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slider_1" />
    <child
      link="slider_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="driver_rod">
    <inertial>
      <origin
        xyz="-0.166 -0.235896141474479 0.436652535858943"
        rpy="0 0 0" />
      <mass
        value="0.0124305545034589" />
      <inertia
        ixx="1.5037275756186E-05"
        ixy="-5.89896962782277E-13"
        ixz="5.60965314368876E-13"
        iyy="1.50353666083867E-05"
        iyz="2.4337046111764E-08"
        izz="2.06465136266972E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/driver_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/driver_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sl2_rod"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slider_2" />
    <child
      link="driver_rod" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="slider_3">
    <inertial>
      <origin
        xyz="-0.165968905240866 -0.235769905529503 0.359735993431928"
        rpy="0 0 0" />
      <mass
        value="0.0327017150775501" />
      <inertia
        ixx="9.2770972112113E-06"
        ixy="-2.14206940806661E-12"
        ixz="1.32397826471156E-09"
        iyy="9.93886648494575E-06"
        iyz="9.96896051989336E-09"
        izz="3.86478623890975E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slider_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/slider_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rod_sl3"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="driver_rod" />
    <child
      link="slider_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="main_rod">
    <inertial>
      <origin
        xyz="-0.166000000381638 -0.0872977391304248 0.261603056632975"
        rpy="0 0 0" />
      <mass
        value="0.03834406116007" />
      <inertia
        ixx="0.000124089295700755"
        ixy="-1.25934739968129E-12"
        ixz="4.84609440109473E-14"
        iyy="2.63538779617982E-05"
        iyz="4.89413548299659E-05"
        izz="9.95797372498691E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/main_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/main_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sl3_mainrod"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slider_3" />
    <child
      link="main_rod" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_leg">
    <inertial>
      <origin
        xyz="-0.166327568109669 -0.150616282403251 0.400833445478485"
        rpy="0 0 0" />
      <mass
        value="0.0933588484666221" />
      <inertia
        ixx="0.000261206736608851"
        ixy="-4.04589541357779E-08"
        ixz="-5.26917929784811E-07"
        iyy="0.000221587958535765"
        iyz="-2.73142947798179E-05"
        izz="4.30338297696853E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/front_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/front_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sact_leg"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slide_act" />
    <child
      link="front_leg" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mainrod1">
    <inertial>
      <origin
        xyz="-0.166000000381639 -0.0872977391304275 0.261603056632973"
        rpy="0 0 0" />
      <mass
        value="0.0383440611600699" />
      <inertia
        ixx="0.000124089295700754"
        ixy="-1.25934739001152E-12"
        ixz="4.84609376955384E-14"
        iyy="2.6353877961798E-05"
        iyz="4.89413548299656E-05"
        izz="9.95797372498684E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/mainrod1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/slider_design/mainrod1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_rod"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="front_leg" />
    <child
      link="mainrod1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>