<?xml version="1.0"?>
<robot
  name="titanleg" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="world" />
  <link
    name="hip_act">
    <inertial>
      <origin
        xyz="2.21389571031239E-06 0.0495282516972576 8.39857004455852E-05"
        rpy="0 0 0" />
      <mass
        value="0.459454762759501" />
      <inertia
        ixx="0.000423377170076193"
        ixy="2.8536168918093E-09"
        ixz="1.66725551719757E-07"
        iyy="0.000785413648057675"
        iyz="6.36782987510134E-07"
        izz="0.000423371017574567" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/hip_act.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/hip_act.STL" />
      </geometry>
    </collision>
  </link>
   <joint name="dummy_joint" type="fixed">
     <parent link="world"/>
     <child link="hip_act"/>
   </joint>
  <link
    name="c_bracket">
    <inertial>
      <origin
        xyz="-1.29530993199095E-05 0.111883797615742 0.000189172262231113"
        rpy="0 0 0" />
      <mass
        value="0.194139827709801" />
      <inertia
        ixx="0.000246157573305323"
        ixy="3.72214937106365E-08"
        ixz="-1.72161412318965E-09"
        iyy="0.000261154757408066"
        iyz="1.38657104435418E-07"
        izz="0.000187909477330244" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/c_bracket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/c_bracket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="hip_act" />
    <child
      link="c_bracket" />
    <axis
      xyz="0 1 0.0017503" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="actuator2">
    <inertial>
      <origin
        xyz="0.0105283228345422 0.173996856485628 0.000302488432371351"
        rpy="0 0 0" />
      <mass
        value="0.459454762835675" />
      <inertia
        ixx="0.000785414768017504"
        ixy="-4.19395763700288E-09"
        ixz="9.56126475950033E-10"
        iyy="0.000423518637700238"
        iyz="-7.95363557319889E-08"
        izz="0.000423228429945512" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/actuator2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/actuator2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="c_bracket" />
    <child
      link="actuator2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="connecter">
    <inertial>
      <origin
        xyz="0.0627092553320165 0.173999733455809 0.000304560844391982"
        rpy="0 0 0" />
      <mass
        value="0.136163779993279" />
      <inertia
        ixx="0.000121813380866596"
        ixy="1.00079467679243E-20"
        ixz="-6.33249941812088E-20"
        iyy="6.99270541952128E-05"
        iyz="-1.21893335065814E-20"
        izz="6.99270541952126E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/connecter.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/connecter.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="actuator2" />
    <child
      link="connecter" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_actuator">
    <inertial>
      <origin
        xyz="0.128528322762866 0.173998136399464 0.000307615778510642"
        rpy="0 0 0" />
      <mass
        value="0.459454760456948" />
      <inertia
        ixx="0.000785414767905145"
        ixy="-1.38981028699211E-09"
        ixz="4.07330041056379E-09"
        iyy="0.000423233072333788"
        iyz="-8.66190720298778E-08"
        izz="0.000423513995230647" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/knee_actuator.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/knee_actuator.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="connecter" />
    <child
      link="knee_actuator" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="slider_1">
    <inertial>
      <origin
        xyz="0.165994134888996 0.186648087099041 0.00675729634447775"
        rpy="0 0 0" />
      <mass
        value="0.0227075461559264" />
      <inertia
        ixx="2.96121867175513E-05"
        ixy="-1.68453705142746E-09"
        ixz="-8.59390268464536E-10"
        iyy="9.49452273118413E-06"
        iyz="-6.07578783365056E-06"
        izz="2.01781270923127E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/slider_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/slider_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="knee_actuator" />
    <child
      link="slider_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="slider_2">
    <inertial>
      <origin
        xyz="0.165987300398336 0.253951550337511 0.00751531450347266"
        rpy="0 0 0" />
      <mass
        value="0.0349242700746139" />
      <inertia
        ixx="1.85733821263333E-05"
        ixy="-2.18326723588575E-11"
        ixz="2.30082432360936E-09"
        iyy="1.50315683562167E-05"
        iyz="8.16472872166189E-11"
        izz="5.08893328633733E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/slider_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/slider_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slider_1" />
    <child
      link="slider_2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="driver_rod">
    <inertial>
      <origin
        xyz="0.166000000001709 0.253951476290993 -0.0627717062474898"
        rpy="0 0 0" />
      <mass
        value="0.0124305545034591" />
      <inertia
        ixx="1.50372757561864E-05"
        ixy="-5.88975510889749E-13"
        ixz="-5.61932673548693E-13"
        iyy="1.50354065499985E-05"
        iyz="3.08428718897107E-13"
        izz="2.06425194655713E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/driver_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/driver_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slider_2" />
    <child
      link="driver_rod" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="slider_3">
    <inertial>
      <origin
        xyz="0.165916960910601 0.253951476273331 -0.139431905251948"
        rpy="0 0 0" />
      <mass
        value="0.0320888110192499" />
      <inertia
        ixx="8.94036749817046E-06"
        ixy="3.07594929041129E-14"
        ixz="2.65157266553481E-08"
        iyy="9.58626733491596E-06"
        iyz="-1.06606465438949E-13"
        izz="3.80755374502946E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/slider_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/slider_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint8"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="driver_rod" />
    <child
      link="slider_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="main_rod">
    <inertial>
      <origin
        xyz="0.166600000383349 0.105771688524635 -0.238325037022689"
        rpy="0 0 0" />
      <mass
        value="0.0383440611600698" />
      <inertia
        ixx="0.000124089295700753"
        ixy="-1.25917589104066E-12"
        ixz="-5.27381427060724E-14"
        iyy="2.66871738526395E-05"
        iyz="-4.91889317270234E-05"
        izz="9.92464413590262E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/main_rod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/main_rod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint9"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="slider_3" />
    <child
      link="main_rod" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_leg">
    <inertial>
      <origin
        xyz="0.166327568111374 0.168789600251866 -0.0988712651558407"
        rpy="0 0 0" />
      <mass
        value="0.0933588484666221" />
      <inertia
        ixx="0.000261206736608852"
        ixy="-4.13811827810724E-08"
        ixz="5.2684630530139E-07"
        iyy="0.000221491792508136"
        iyz="2.76266590939645E-05"
        izz="4.31299957973145E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/front_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/front_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint10"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="knee_actuator" />
    <child
      link="front_leg" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mainrod">
    <inertial>
      <origin
        xyz="0.166600000383349 0.105771688524635 -0.238325037022689"
        rpy="0 0 0" />
      <mass
        value="0.0383440611600698" />
      <inertia
        ixx="0.000124089295700753"
        ixy="-1.25917589104066E-12"
        ixz="-5.27381427060724E-14"
        iyy="2.66871738526395E-05"
        iyz="-4.91889317270234E-05"
        izz="9.92464413590262E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/mainrod.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://titanleg_gazebo/meshes/Slider_design/mainrod.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint11"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="front_leg" />
    <child
      link="mainrod" />
    <axis
      xyz="0 1 0.0017503" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  </robot>
